@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face { src: url(../fuentes/BodoniFLF-BoldItalic.ttf);
    font-style: italic; 
    font-weight: bold; 
    font-family: miFuente;}



* { box-sizing: border-box;}
h1,h2 {margin: 0;}
body{ margin: 0; padding: 0; font-family: 'Poppins', sans-serif; font-size: 90%; counter-reset: miContador; }

nav { width: 100%; display: flex; justify-content: flex-end; height: 40px; align-items: center;}
nav a { margin: 2px; text-decoration: none; color: black; }

nav a:hover { text-decoration: underline;}

.activo { text-decoration: underline; }
nav img{ width: 2%; max-width: 100%; height: auto; margin-right: auto; }
header { width: 100%; height: 500px; background-image: url(../imagenes/banner.JPG); background-repeat: no-repeat;
background-size: cover; display: flex; align-items: center; justify-content: center; text-align:center; }

header div { width: 50%; background-color: rgba(255,255,255,0.5); }
header h1 { font-family: 'Poppins',sans-serif; font-weight: 300; font-size: 2em; }
header h1 span { display:block; color: #b45008; font-family: miFuente; font-size: 3em; }

main { width: 100%; }

.division { width: 100%; padding: 1rem; display: flex; margin-bottom: 2px; }
.division div { width: 50%; }
.nosotros { background-color: #b45008; }
.nosotros .grilla { display: grid; grid-gap: 10px; grid-template-columns: 60% 40%;  grid-template-rows: 200px 200px; }
.grilla div {  width: auto; background-size: cover; background-repeat:no-repeat; } 


.grilla div:first-child { background-position: -140px 0px; grid-row-start: 1; grid-row-end: 3; 
background-image: url(../imagenes/gym-01.jpg); }
.grilla div:nth-child(2) { background-image: url(../imagenes/gym-02.jpg);}
.grilla div:nth-child(3) { background-image: url(../imagenes/gym-03.jpg);}


.nosotros h2 { font-family: miFuente; font-size: 2em; color: #e8bf65; }
.division div img { width: 80%; margin: auto; display: block; border-radius: 10px / 20px; box-shadow: 1px 3px 10px black;}

.division img:hover { opacity: 0.5;}

.nosotros p { font-size: 1.2em; color: white;}
h4 { color: #e8bf65; font-size: 1.4em; border-bottom: 1px dotted #b45008; 
text-shadow: 2px 3px 2px rgba(200, 200, 14, 0.5); }
h4::before { 
    counter-increment:miContador;
    content: counter(miContador, upper-roman) "-"; font-variant: small-caps; font-size: 10px;}

h4:after {  content: "\e900"; font-family: 'icomoon' ;}      

h3 { font-family: miFuente; color: #b45008; font-size: 3em; }
footer { width: 100%; height: 200px; background-color: #b45008; }
article { float: left; width: 50%; padding: 1em; }

#chat { position: fixed; left: 97%; top: 88%; background-image: linear-gradient(rgba(226, 127, 14, 0.5),
    rgba(255,255,255,0.5)),url(../imagenes/chat.png); background-size: contain;
background-repeat: no-repeat; width: 50px; height: 50px; cursor: pointer; border-radius: 20px; }

footer ul { list-style: none; margin: 0; padding: 0; }

footer ul:first-of-type, footer p:first-child {  font-weight: bold;}

footer { display: flex; justify-content: space-evenly; align-items: center; color:white; }

#formulario { display: none;}
.container-fluid { position: fixed; background-color: rgba(0,0,0,0.8); height: 100%; top: 0; left:0; color:white; }
.container { width:50%; position:absolute; top: 20%; left: 20%;}


@media (max-width: 768px){
    body { font-size: 80%;}
    .division { flex-direction: column;}
    .division * { width: 100% !important;}
    
    }
    
    
    @media (max-width:400px){
    
    body { font-size: 50%;}
    
    }
